[alias]
        ch = checkout
        st = status

[commit]
        gpgsign = true

[color "status"]
        added = green bold
        changed = yellow bold
        untracked = cyan
        branch = yellow black bold ul

[init]
        defaultBranch = main

[gpg]
        program = gpg

[user]
        name = Dev-CasperTheGhost
        email = 53900565+Dev-CasperTheGhost@users.noreply.github.com
        signingkey = 222759ADB7DDBDA0
