[alias]
  ch = checkout
  st = status
  p = push
  pl = pull
  br = branch

[commit]
  gpgsign = true

[color]
  ui = always

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = cyan
  branch = yellow black bold ul

[core]
  editor = code --wait

[init]
  defaultBranch = main

[gpg]
  program = gpg

[user]
  name = casperiv0
  email = 53900565+casperiv0@users.noreply.github.com
  signingkey = 222759ADB7DDBDA0

[delta]
  minus-style = 'syntax bold auto'
  line-numbers = true
  navigate = true
  side-by-side = true

[push]
  autoSetupRemote = true